/* BRANDS_section */
.BRANDS-section-contaner{
    position: relative;
    top: 20vh;
}
.Brands-heading{
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}

.BRANDS_section_card_contaner {
    font-family: 'Poppins';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    gap: 5vh;
    margin-top: 10vh;
}

.BRANDS_section_card_contaner_row {
    display: flex;
    gap: 2.5vw;
    justify-content: space-around;

}

.BRANDS_section_card_contaner_cards {
    width: 27%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    align-items: center;
    height: 19vh;
}

.BRANDS_section_card_contaner_cards_image_contaner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BRANDS_section_card_contaner_cards_img {
    width: 80%;
    height: 80%;
    aspect-ratio: 3 / 3;
    object-fit: contain;
}

.BRANDS_section_card_contaner_cards_text {
    display: none;
    font-size: 1.7rem;
    font-weight: 400;
}