.Elevate-Exception-contaner{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.Elevate-Exception{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Elevate-Exception-heading{
    font-family: system-ui;
    font-size: 45px;
    text-align: center;
}

.Elevate-Exception-heading-below-p{
    font-size: x-large;
    font-weight: bold;
    background-color: #A2988F;
    color: white;
    border: 0 solid;
    width: 58%;
    text-align: center;
    text-align: center;
}

.Culinary-Space-review{
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}

.TYPE-1 {
    display: flex;
    flex-direction: row;
    /* background-image: url(/6.png); */
    background-size: cover;
    align-items: flex-end;
    height: 65vh;
    width: 30vw;
    border: 20px solid #F1EEEE;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.Kitchen-text {
    padding-bottom: 10px;
}

.Kitchen-TYPE{
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
}